
@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li class="active">Thanh toán đơn hàng</li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="mar15">
    <div class="container">
        <div class="row">
            <div class="col-md-12">                
                <div class="thankyou-message-text">
                    <h3>Cảm ơn bạn đã đặt hàng</h3>
                    <p> Chúng tôi sẽ liên hệ lại với bạn trong thời gian sớm nhất </p>
                    <div style="font-style: italic;"> </div>
                </div>
                <br/>
                <a href="/san-pham" class="btn btn-primary">Tiếp tục mua hàng</a>
            </div>            
        </div>
    </div>
</div>

