<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">                                    
            <li>
                <a><i class="fa fa-edit"></i> Quản lý bài viết <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">                    
                    <li><a href="/Admin/Post/Add">Thêm bài viết</a></li>
                    <li><a href="/Admin/Post">Danh sách bài viết</a></li>                    
                </ul>
            </li>
            <li>
                <a><i class="fa fa-product-hunt"></i> Quản lý sản phẩm <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">                    
                    <li><a href="/Admin/Product/Add">Thêm sản phẩm</a></li>
                    <li><a href="/Admin/Product">Danh sách sản phẩm</a></li>
                </ul>
            </li>

        </ul>
    </div>

</div>

