@model DC.Webs.Models.PublicViewModel

<div style="margin-top: 10px;">
    <div class="fb-page" data-href="@Model.ParameterInfo.Facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="@Model.ParameterInfo.Facebook" class="fb-xfbml-parse-ignore"><a href="@Model.ParameterInfo.Facebook">Voyage Vietnam Moto</a></blockquote>
    </div>
</div>

